.booking-modal-container {
     .booking-modal-content {
          display: flex;
          flex-direction: column;

          .booking-modal-header {
               padding: 10px;
               border-bottom: #ddd;
               .left {
                    font-size: 15px;
                    font-weight: 600;
                    color: #333;
               }
               .right {
                    float: right;
                    cursor: pointer;
               }
          }
          .booking-modal-body {
               padding: 15px;
               height: 100%;
               border-top: 1px solid #ddd;
               border-bottom: 1px solid #ddd;
          }
          .booking-modal-footer {
               border-top: 1px solid #ccc;
               display: flex;
               justify-content: flex-end;
               gap: 15px;
               button {
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    padding: 5px 8px;
                    margin: 8px 0;
                    cursor: pointer;
               }
               .btn-booking-confirm {
                    background-color: orange;
                    &:hover {
                         background-color: rgb(123, 97, 50);
                    }
               }
               .btn-booking-cancel {
                    background-color: rgb(234, 90, 90);
                    min-width: 65px;
                    margin-right: 8px;
                    &:hover {
                         background-color: rgb(60, 33, 148);
                         color: white;
                    }
               }
          }
     }
}
